<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<header>
  <h1>Visitors</h1>
  <% include ../partials/admin-nav.ejs %>
</header>
<article style="margin:100px auto;max-width:1024px;padding:30px;">
  <% include ../partials/paginate.ejs %>
  <% visitors.forEach (visitor => { %>
  <p>
    <%= visitor.updated %>
    <%= visitor.firstName %> <%= visitor.lastName %><br />
    IP: <%= visitor.ip %><br />
    Country: <%= visitor.country %><br />
    City: <%= visitor.city %><br />
    Agent: <%= visitor.userAgent %>
  </p>
  <% });%>
  <% include ../partials/paginate.ejs %>
</article>
<% include ../partials/footer.ejs %>
</body>
</html>